<link rel="stylesheet" href="css/partials/footer.css" />

<footer class="footer-section">
    <div class="footer-container">
        <div class="menu">
            <h2 class="footer-text">SNEAKSHOP</h2>
        </div>
        <div class="menu">
            <h2>Further Info</h2>
            <div class="menu-items">
                <a href="/">Home</a>
                <a href="/about">About us</a>
                <a href="/contact">Contact us</a>
            </div>
        </div>
        <div class="menu">
            <h2>Products </h2>
            <div class="menu-items">
                <a href="/products">Men's Sneakers</a>
                <a href="/products">Women's Sneakers</a>
                <a href="/">Featured Products</a>
            </div>
        </div>
        <div class="menu">
            <h2>Contacts</h2>
            <div class="menu-items">
                <p>Email: zhasulanov04@list.ru</p>
                <p>Phone: +7-747-493-83-82</p>
                <p>Instagram: @iamdimok</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>